// o'zgaruvchilar
$backcolor: #F2F3F5;
$backcolor1:#E0F2FE;
// *o'zgaruvchilar
.content{
    .content_left{
        background-color: $backcolor;
        border-radius: 15px;


        .img{
            margin-top: 50px;
            width: 300px;
            img{
                border-radius: 20px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;

    
            }
        }

        .play_icon_header{
            text-align: center;
            font-size: 30px;
            cursor: pointer;
            
        }
    }
    .right_menu{
        .Recommended{
            font-size: 21px;
            font-weight: 600;
        }
        .foavvoruiter{
            font-size: 13px;
            color: gray;
        }
        .save_playlist{
            background-color: $backcolor1;
            border-radius: 10px;
            border: $backcolor1 1px solid;
            font-size: 13px;
            font-weight: 600;
            transition: 0.5s all ease;
            &:hover{
                background-color: #94d6f7;
            }
        }
        .auto_play{
            border-radius: 10px;
            border:none;
            font-size: 13px;
            font-weight: 600;
            // justify-content: ;
        }
        .item{
           cursor: pointer;
            height: 60px;
            // background-color: red;
            transition: all 0.3s ease;
            &:hover{
                background-color: #F9FAFB;
            }
          .fa-circle-play{
            font-size: 28px;
          } 
          .music_details{
            display: flex;
            flex-direction: column;
            .artist{
                font-weight: 600;
                font-size: 17px;
            }
            .title{
                font-size: 13px;
            }
          } 
        }
    }
   
}